*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}

.full-height{
    width: 100%;
    height: 100vh;
}
.row:nth-child(1){background-color: red;}
.row:nth-child(2){background-color: orange;}
.row:nth-child(3){background-color: purple;}


// Efeito Scroll Out

[data-scroll]{
    transition: all 2s;
}

[data-scroll="in"]{
    opacity: 1;
    transform: translateX(0px);
}

[data-scroll="out"]{
    opacity: 0;
    transform: translate3d(-200px,0px,0px);
    
}